
body {
      font-family: 'TT Lakes Bold';
  
   width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #F8F8F8;
}

.container {
  
   width: 320px;
  margin: 0 auto;
  display: flex;
}

.icon {
    display: flex;
    justify-content: space-evenly;
    width: 320px;
  margin: 0 auto;
  padding-top: 18px;
  padding-right: 0px;
  padding-bottom: 18px;
  padding-left: 0px;
   align-items: center;
   border-bottom: 1px solid #D9FFF5;
   background-color: white;
}




.title {
    display: flex;
     align-items: center;
     width: 304px;
     height: 40px;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
 margin-bottom: 6px;
 
}
.title__text {
font-size:28px;
line-height: 40px;
letter-spacing: -0.6px;
font-weight: normal;
padding-left: 18px;
 
}
.title__text:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 0 4px 4px 0;
}

.list {
  font-family: 'TT Lakes Medium';
  display: flex;
   align-items: center;
  white-space: nowrap;
  padding-left: 16px;
  overflow: auto;
  scrollbar-width: none;
  color: #7E7E82;
   -webkit-mask-image: linear-gradient( to right, black 85%, transparent 100%);
      mask-image: linear-gradient( to right, black 85%, transparent 100%);
}

.navigation {
  display: flex;
}

.icon__button,
.icon__checkstatus,
.icon__repair {
  width:40px;
  height:40px;    
}



.icon__call,
.icon__chat,
.icon__profile,
.icon__divider2,
.icon__divider1,
.icon__block,
.icon__text,
.icon__text2,
.icon__text3,
.list__note1_1120px,
.list__note2_1120px,
.list__note3_1120px,
.basic_text4 {
  display: none;
}

.icon__Group {
   width:97px;
   height:51px;
}

.icon__divider {
  width:2px;
  height:32px;
}

.title__icon {
  width:4px;
  height:40px;
}



.list__note1 {
line-height: 24px;
letter-spacing: -0.2px;
   border: 1px solid #B8FFEC; 
  padding: 8px 13px 8px 16px;             
  border-radius: 6px;        
  background-color: #FFFFFF;
}

.list__note2,
.list__note3,
.list__note4,
.list__note5,
.list__note6,
.list__note7{
  line-height: 24px;
letter-spacing: -0.2px;
  padding: 8px 10px 8px 20px;
  border-radius: 6px;
}


.basic {
  display: flex;
  flex-direction: column;
  
}
.basic__further {
  display: flex;
  margin-left: 16px;
}

.basic_text1 {
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 18px;
letter-spacing: 0.2px;
padding: 0px 16px 0px 16px;
margin-top: 9px;
}

.basic_text2 {
 display: none;
}

.basic__arrow {
    width:8px;
  height:11px; 
   padding: 7px 8px 16px 8px;
}

.basic_text3 {
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
letter-spacing: -0.2px;
 margin-left: 8px;
}

.basic__signboard {
 padding: 5px 0px 0px 0px;
 width: 320px;
 height: 176px;
 margin-bottom: 24px;
}
/* свипер */
.brands {
  
  

}


.brands__title {
  width: 305px;
    height: 64px;
    padding-top: 2px;
    padding-left: 16px;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin-bottom: 16px;
  font-weight: 100;
  background: linear-gradient(
    to right,
    #F8F8F8 0%,
    #ffffff 100%
  );
  border-top: 1px solid #D9FFF5;
}




.brand-card {
  background: #fff;
  border-radius: 6px;
  width: 240px ;
  height: 72px ;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
    padding: 16px; 
}
.brands-swiper .swiper-slide {
  width: 240px; 
  height: 72px;
     
     
}

.swiper-wrapper {
  display: flex !important;
  flex-wrap: nowrap; 
          
          margin-left: 24px;
}

.swiper-slide {
  display: flex !important;
  
  flex-shrink: 0;
}

.brand-card__btn {
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  background: none;
  color: #ff3e79;
  font-size: 20px;
  cursor: pointer;
}

.brands-swiper {
  position: relative;
  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    black 0%,
    black 85%,
    transparent 100%
  ); 
}



.brands-swiper .swiper-pagination {
  display: block;
  position: static;
  margin-top: 16px;
  text-align: center;
  gap: 5px;
}
.brands-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #DDDDDD;
  opacity: 1;
}
.brands-swiper .swiper-pagination-bullet-active {
  background: #B5B6BC;
}
.brands-show-more {
  display: none;
}

@media (min-width: 321px) and (max-width: 768px) { 
body {
   width: 768px;
      font-family: 'TT Lakes Bold';
margin: 0 auto;
box-sizing: border-box;
background-color: #F8F8F8;
    
}




.icon {
    display: flex;
    justify-content:flex-start;
    width: 768px;
   align-items: center;
   border-bottom: 1px solid #D9FFF5;
   background-color: white;
    
}
 .icon__button,
.icon__checkstatus,
.icon__repair,
.icon__call,
.icon__chat,
.icon__profile
 {
  width:40px;
  height:40px;
display: block;
}

.icon__divider2,
.icon__divider1 {
  width:2px;
  height:32px;
  display: block;
}


.icon__divider,
.icon__block,
.icon__text,
.icon__text2,
.icon__text3,
.list__note1_1120px,
.list__note2_1120px,
.list__note3_1120px,
.basic_text4 {
  display: none;
}

.icon__button {
  
 
  
  padding-left: 24px;

}

.icon__divider1 {
 padding-left: 21px;

}

.icon__Group {
 padding-right: 250px;
 padding-left: 21px;

}

.icon__chat {
  padding-left: 16px;
}

.icon__profile {
  padding-left: 16px;
}

.icon__divider2 {
  padding-left: 20px;
}

.icon__repair {
  padding-left: 20px;
}

.icon__checkstatus {
  padding-left: 16px;
}

.title__text {
  font-size:28px;
line-height: 40px;
letter-spacing: -0.6px;
font-weight: normal;
padding-right: 48px;
}

.list {
  font-family: 'TT Lakes Medium';
  display: flex;
   align-items: center;
  white-space: nowrap;
  margin-left: 0px;
  margin-top: 13px;
  padding-left: 24px;
  overflow: auto;
  scrollbar-width: none;
  color: #7E7E82;
   -webkit-mask-image: linear-gradient( to right, black 85%, transparent 100%);
      mask-image: linear-gradient( to right, black 85%, transparent 100%);

}

.list__note1 {
line-height: 24px;
letter-spacing: -0.2px;

   border: 1px solid #B8FFEC; 
   padding: 8px 15px 7px 18px;        
  border-radius: 6px;        
  background-color: #FFFFFF;
}

.list__note2,
.list__note3,
.list__note4,
.list__note5,
.list__note6,
.list__note7{
  
  line-height: 24px;
letter-spacing: -0.2px;
  padding:0px 0px 0px 0px;
  border-radius: 6px;
}
.list__note2{
  padding:0px 0px 0px 16px;
}
.list__note3 {
  padding:0px 0px 0px 28px;
}
.list__note4 {
  padding:0px 0px 0px 38px;
}

.list__note5 {
  padding:0px 0px 0px 16px;
}

.list__note6 {
  padding:0px 0px 0px 16px;
}

.list__note7 {
  padding:0px 70px 0px 16px;
}

.basic_text1 {
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 20px;
letter-spacing: 0.2px;
padding: 0px 0px 0px 0px;
margin-top: 9px;
} 

.basic_text2 {
 display: block;
 font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 20px;
letter-spacing: 0.2px;
padding: 4px 0px 0px 0px;
margin: 0 auto;
margin-bottom: 12px;
}
.basic__further {
    display: flex;
    margin-left: 4px;
}
.basic {
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  gap: 48px;
}

.basic__column {
padding: 10px 2px 0px 22px;
}

.basic__signboard {
 padding: 18px 22px 0px 0px;
 width: 360px;
 height: 208px;
border-radius: 10px 10px 10px 10px;
margin-bottom: 16px
}
/* свипер */
.brands__title {
   display: flex;
  width: 768px;
    height: 56px;
    padding-top: 2px;
    padding-left: 24px;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  align-items: center;
  color: #7E7E82;
  margin-bottom: 20px;
  font-weight: 100;
  background: linear-gradient(
    to right,
    #F8F8F8 0%,
    #ffffff 100%
  );
  border-top: 1px solid #D9FFF5;
  
  margin-right: -12px;
}
 .brands-swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    display: flex ;
    flex-wrap: wrap;
    gap: 16px 24px
  }

  .swiper-slide {
    width: 224px !important;
  }

  .swiper-pagination {
    display: none;
  }

 .brands-swiper {
    -webkit-mask-image: none;
    mask-image: none;
  }
  /*  Показать всё */
  .brands-show-more {
    display: flex;
    align-items: center;
    gap: 8px;

    margin: 16px 0 0 16px;
    background: none;
    border: none;
    cursor: pointer;

    font-family: 'TT Lakes Medium';
    font-size: 16px;
    color: #1B1C21;
  }

  .brands-show-more__icon {
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .brands-show-more.is-expanded .brands-show-more__icon {
    transform: rotate(180deg);
  }
   .swiper-wrapper {
    max-height: 168px; 
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .swiper-wrapper.is-expanded {
    max-height: 1000px;
  }
  .basic__arrow2 {
    width: 8px;
    height: 11px;
    margin: 6px 9px 2px;
}
}

@media (min-width: 769px)  {
  body {
    width: 1120px;
    
    background-color: #F8F8F8;
  }


.icon {
   display: flex;
  flex-direction:row;
  justify-content:start;
  margin-top: 34px;
     width: 1120px;
     padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
   border-bottom:none;
  background-color: #F8F8F8;
  }

  .icon__block,
  .icon__text,
  .icon__text2,
.icon__text3,
.basic_text4 {
    display: block;
  }

.icon__block {
   width:3px;
  height:40px;
}
.icon__text {
  font-size:28px;
  line-height: 40px;
letter-spacing: -0.6px;
margin: 0px 0px 0px 30px;

}
.icon__text2{
  margin-left: 450px;
  font-family: 'TT Lakes medium';
  line-height: 24px;
letter-spacing: -0.2px;
}

.icon__repair{
  margin-left: 10px;
  
}

.icon__text3 {
margin-left: 32px;
font-family: 'TT Lakes medium';
line-height: 24px;
letter-spacing: -0.2px;
}

.icon__checkstatus {
  margin-left: 10px;
}
  .icon__button,
  .icon__Group,
  .icon__divider,
  .icon__call,
  .icon__chat,
  .icon__profile,
  .icon__divider1,
  .icon__divider2,
  .title__icon,
  .title__text
   {
    display: none;
  }

.title{
  display: none;
}

  
  

  .basic {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin: 0px 0px 43px 0px;
  }

  .basic__column {
    padding: 12px 0px 0px 32px;
    margin: 0px 0px 0px 0px;
  }

  .basic__signboard {
    width: 531px;
    height: 307px;
    object-fit: cover;
    padding: 0;
    margin: 10px 28px 0px 0px;
    border-radius: 10px 10px 10px 10px;
  }
.basic_text1 {
  font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding:0px 0px 0px 0px; 
    color: #1B1C21;
}
  .basic_text2 {
    display: block;
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding:8px 0px 0px 3px;
    color: #1B1C21;
    margin: 0px 0px 0px 0px;
  }
  .basic_text4 {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    display: inline;
    
  }

  .list {
    margin-left: 0;
    flex-wrap: wrap;
    
    overflow: visible;
    mask-image: none;
    -webkit-mask-image: none;
    margin-bottom: 20px;
    padding: 0 16px;
    margin: 0px 0px 0px 0px;
    line-height: 24px;
letter-spacing: -0.2px;
  }

  .list__note1_1120px,
  .list__note2_1120px,
  .list__note3_1120px {
    display: block;
     margin: 0px 0px 0px 0px;
  }
.list__note2_1120px {
  margin: 0px 0px 0px 18px;
}
.list__note3_1120px {
  margin: 0px 0px 0px 18px;
}
  .list__note3,
  .list__note7 {
 margin: 0px 0px 0px 22px;
  }
  .list__note4 {
    margin: 2px 0px 0px 14px
  }
  .list__note5 {
    margin: 0px 0px 0px 0px;
  }
.list__note7 { 
  padding: 0px  0px  0px  0px;
          margin: 12px 0px 0px 40px;
}
  .list__note1_1120px {
    margin: 0px 0px 0px 22px;
     border: 1px solid #B8FFEC; 
  padding: 8px 28px 8px 16px;             
  border-radius: 6px;        
  background-color: #FFFFFF;
  }
  .list__note1,
  .list__note2,
  .list__note5,
  .list__note6 {
    display: none;
  }

  .list > p {
    background-color: #f8f8f8;
  }

  

  .basic__further {
    margin: 0px 0px 0px 0px;
    padding: 12px 0px 0px 0px;
  }

/*  свипер */
.brands__title {
   display: flex;
  width: 100%;
    height: 56px;
    padding-top: 2px;
    padding-left: 32px;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  align-items: center;
  color: #7E7E82;
  margin-bottom: 24px;
  font-weight: 100;
  background: linear-gradient(
    to right,
    #F8F8F8 0%,
    #ffffff 100%
  );
  border-top: 1px solid #D9FFF5;
  
  margin-right: -12px;
}

 .brands-swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 32px;
    margin-left: 32px;
  }

  

  .brands-swiper .swiper-pagination {
    display: none;
  
  }
  .brands-swiper {
    -webkit-mask-image: none;
    mask-image: none;
  }
  
   /* Показать всё */
  .brands-show-more {
    display: flex;
    align-items: center;
    gap: 8px;

    margin: 16px 0 0 16px;
    background: none;
    border: none;
    cursor: pointer;

    font-family: 'TT Lakes Medium';
    font-size: 16px;
    color: #1B1C21;
  }

  .brands-show-more__icon {
    width: 16px;    
  height: 16px;
    transition: transform 0.3s ease;
  }

  .brands-show-more.is-expanded .brands-show-more__icon {
    transform: rotate(180deg);
  }
   .swiper-wrapper {
    max-height: 168px; 
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .swiper-wrapper.is-expanded {
    max-height: 1000px;
  }
  .basic__arrow2 {
    width: 8px;
    height: 11px;
    margin: 6px 9px 2px;
}
}


/* ====== МОДАЛ ====== */
.modal {
  position: fixed;
  inset: 0;
   width: 320px;           
  height: 100%;          
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: flex-start;
  z-index: 1000;  
  align-items: stretch;
  
}

.modal--active {
  display: flex;
}

.modal__content {
  background: #fff;
 width: 100%;
   height: 100%; 
  display: flex;
  flex-direction: column;
    justify-content: space-between; 
  position: relative;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  
}

.modal--active .modal__content {
  transform: translateX(0);
}


.modal__header {
  display: flex;
  align-items: center;
 margin-bottom: 10px;
  
}

.modal__logo {
  height: 50px;
  padding-top: 20px;
  padding-left: 4px;
}

.modal__close,
.modal__search {
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 24px;
}

.modal__search {
  
  padding-left: 95px;
  padding-top: 24px;
}

.modal__nav {
    flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  margin-bottom: 32px;
  list-style: none;
  padding: 0;
}

.modal__nav li {
  font-size: 16px;
  color: #1B1C21;
  text-decoration: none;
  transition: color 0.2s;
  font-family: 'TT Lakes medium';
  line-height: 24px;
letter-spacing: -0.2px;
margin-left: 17px;
}





.modal__nav li {
  position: relative;
}

.modal__nav li:hover {
  color: #7E7E82;
}

.modal__nav li:hover::before {
  content: "";
  position: absolute;
  left: -17px;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  border-radius: 0 4px 4px 0;
}


.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.modal__icons {
   
  display: flex;
  gap: 4px;
 
    margin-left: 10px;
}

.modal__call,
.modal__chat,
.modal__profile {
  background: none;
  border: none;
  cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.modal__call:hover,
.modal__chat:hover,
.modal__profile:hover{
 transform: scale(1.08);
 
}
.modal__mail {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  line-height: 24px;
letter-spacing: -0.2px;
margin-left: 15px;
    margin-top: -2px;
}

.modal__phone {
   color: #333;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
   line-height: 32px;
letter-spacing: -0.6px;
margin-left: 15px;
    margin-top: 1px;
}

.modal__lang {
   font-size: 16px; 
  display: flex;
  font-family: 'TT Lakes medium';
  gap: 10px;
  line-height: 24px;
letter-spacing: -0.2px;
margin-left: 15px;
    margin-top: -5px;
  
}

.modal__lang input[type="radio"] {
  display: none;
}

.lang-btn {
  
  cursor: pointer;
  color: #1B1C21;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.lang-btn:hover {
 color: #7E7E82;
}




@media (min-width: 321px) and (max-width: 768px) {
  .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; 
  justify-content: flex-start;
  align-items: stretch;
  z-index: 100;
}
.modal.modal--active {
  display: flex;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 40%,   
    rgba(255, 255, 255, 0.7) 75%, 
    rgba(255, 255, 255, 0.9) 100% 
  );
  backdrop-filter: blur(5px); 
}
  .modal__content {
    width: 320px;
      height: 100%; 
       background: #fff;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
    box-shadow: 4px 0 20px rgba(0, 0, 0, 0.1);
}

  .modal__nav a {
    font-size: 18px;
  }

  .modal__phone {
    font-size: 20px;
  }

  .modal__header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  
}

.modal__logo {
  height: 50px;
  padding-top: 20px;
  padding-left: 4px;
}

.modal__close,
.modal__search {
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close {
          padding-right: 15px;
    padding-left: 24px;
    padding-top: 24px;
}


.modal__search {
  
  padding-left: 79px;
    padding-top: 24px;
}


.modal__nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  
   
}

.modal__nav li {
  font-size: 16px;
  color: #1B1C21;
  text-decoration: none;
  transition: color 0.2s;
  font-family: 'TT Lakes medium';
  line-height: 24px;
letter-spacing: -0.2px;
margin-left: 24px;
}



.modal__nav li {
  position: relative;
}

.modal__nav li:hover {
  color: #7E7E82;
 
}

.modal__nav li:hover::before {
  content: "";
  position: absolute;
  left: -24px;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  border-radius: 0 4px 4px 0;
}




.modal__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal__icons {
  display: flex;
  gap: 4px;
 
        margin-left: 18px;
}

.modal__mail {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  line-height: 24px;
letter-spacing: -0.2px;
margin-left: 24px;
    
}

.modal__phone {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
   line-height: 32px;
letter-spacing: -0.6px;
        margin-left: 24px;
        
}

.modal__lang {
   font-size: 16px; 
  display: flex;
  font-family: 'TT Lakes medium';
  gap: 10px;
  line-height: 24px;
letter-spacing: -0.2px;
margin-left: 23px;
        margin-top: 27px;
  
}

.modal__lang input[type="radio"] {
  display: none;
}

.lang-btn {
  cursor: pointer;
  color: #1B1C21;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease;
}

.lang-btn:hover {
 color: #7E7E82;
}
}

/* ===== Десктоп 1120px ===== */
@media (min-width: 1120px) {
  

  .modal {
   

 display: none !important;
}
}
/*Alyona*
.container-forLaptop{
  display: contents;
}

body{
  width: 100%;
}

.icon{
  width: 100%;
}

@media (min-width: 321px) {
.container-forLaptop{
  display: flex;
  align-items: center;
}

.icon{
  justify-content: space-between;
}

}
/*Alyona*/ 